body {
  margin: 0;
}

/* header */
header.box_between {
  display: flex;
  justify-content: space-between;
}
/* header_logo */
div.img_logo {
  padding: 12px;
  width: 260px;
}
img.img_logo {
  width: 260px;
}
/* header_nav */
nav.box_evenly {
  display: flex;
  justify-content: space-evenly;
}
p.text_nav01 {
  font-size: 1rem;
  font-weight: 900;
  padding: 12px;
  margin: 12px 4px;

  display: flex;
  align-items: center;
}

/* div(검색바) */
div.img_banner {
  height: 275px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
img.img_banner {
  max-width: 100%;
}

/* navigation */
nav.box_background {
  background-color: #f3f3f3;
}
div.box_nav02 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin: 32px 12px;
}
div.img_nav02 {
  margin: 6px;
  width: 72px;
}
img.img_nav02 {
  width: 72px;
}

p.text_nav02 {
  font-size: 0.8rem;
  font-weight: 900;
  margin: 6px;
}

/* section */
/* section left */
/* section right */
/* 570
430 */
