* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
}

/* header */
header.outside {
  display: flex;
  justify-content: center;
}

header.inside {
  width: 1148px;
  display: flex;
  justify-content: space-evenly;
}

div.title {
  display: flex;
  justify-content: space-evenly;
}

div.img_logo {
  margin: auto;
}

div.title_text {
  margin: 24px;
}

h4.title_text {
  font-size: 0.8rem;
  color: crimson;
  margin: 0;
}

h2.title_text {
  font-weight: 400;
  margin: 0;
}

/* menus */
div.menus {
  display: flex;
  justify-content: space-evenly;
}

h3 {
  padding: 12px;
}

h3.picked {
  color: crimson;
}

/* icon */
div.icons {
  display: flex;
  justify-content: space-evenly;
}

div.img_icon {
  padding: 12px;
  margin: 12px;
  width: 24px;
  height: 24px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 8px;
}

/* navigation */
nav.outside {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

nav.inside {
  width: 1148px;
  display: flex;
  justify-content: space-evenly;
}

div.sub_menus {
  padding: 0px;
  margin: 12px;
}

div.sub_menus_left {
  border-left: 1px solid gray;
  padding: 0px 0px 0px 16px;
  margin: 12px;
}

div.sub_menus_right {
  border-right: 1px solid gray;
  padding: 0px 16px 0px 0px;
  margin: 12px;
}

p.sub_menu {
  font-size: 0.8rem;
  margin: 8px 0px;
}

p.sub_menu_picked {
  font-size: 0.8rem;
  color: crimson;
  font-weight: 900;
}

p.sub_menu_more {
  font-size: 0.8rem;
  color: crimson;
  font-weight: 900;
}

/* section & aside */
div.body_outside {
  display: flex;
  justify-content: center;
}

div.body_inside {
  width: 1148px;
  display: flex;
  /* justify-content: flex-start; */
}

div.board,
aside {
  margin: 12px;
}

/* section */
/* s1 */
section {
  border: 1px solid gray;
  margin: 6px 0px;
}

section.board {
  width: 780px;
}

h1 {
  margin: 12px 16px;
}

/* s2 */
div.board_s2 {
  display: flex;
  justify-content: flex-start;
}

div.img_icon_board {
  margin: 12px;
  width: 24px;
  height: 24px;
}

img.img_icon_board {
  width: 24px;
  height: 24px;
}

div.box_text {
  padding: 12px;
  margin: 12px 4px;
  background-color: rgb(234, 250, 255);
  border-radius: 12px;
}

p.box_text {
  margin: 0;
  font-size: 0.8rem;
}

div.box_text_red {
  padding: 12px;
  margin: 12px 4px;
  background-color: rgb(255, 234, 234);
  border-radius: 12px;
}

span.text_emphasis {
  color: crimson;
  font-weight: 600;
}

section.board_background_color {
  width: 780px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

p.text_writing {
  margin: 12px;
  font-size: 1rem;
}

/* post */
div.post {
  margin: 20px 24px;
}

p.post_title {
  font-size: 0.9rem;
  font-weight: 900;
  margin: 2px 0px;
}

p.post_content {
  font-size: 0.9rem;
  margin: 0;
}

p.post_info {
  font-size: 0.8rem;
  color: #b4b4b4;
  margin: 4px 0px;
}

div.img_container_post {
  width: 80px;
  height: 80px;
  /* border: 1px solid gray; */
  border-radius: 8px;
  padding: 0;
  margin: 24px 24px;
  overflow: hidden;
}

img.img_post {
  max-height: 100%;
}

div.box_margin0 {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

/* aside */
section.aside {
  background-color: #f2f2f2;
  width: 320px;
}

div.posts_spacebetween {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

h5.text_aside_top {
  font-size: 0.8rem;
  color: #5378dd;
  margin: 12px;
}
p.text_more {
  font-size: 0.8rem;
  color: #8d8d8d;
  margin: 12px;
}
p.post_title_aside {
  font-size: 0.8rem;
  margin: 12px;
  font-weight: 900;
}
p.post_content_aside {
  font-size: 0.8rem;
  margin: 12px;
}
p.post_info_aside {
  font-size: 0.6rem;
  color: #8d8d8d;
  margin: 12px;
}
div.post_info_aside {
  display: flex;
  justify-content: flex-start;
}

div.posts_normal {
  margin: 0;
  padding: 0;
}

div.img_10px {
  width: 10px;
  padding: 0;
  margin: 6px 0px;
}
img.img_10px {
  max-height: 100%;
  max-width: 100%;
}

div.img_ {
  height: 10px;
  padding: 0;
  margin: 8px 0px 16px 12px;
}
img.img_ {
  max-height: 100%;
  max-width: 100%;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p.footer {
  margin: 24px;
  text-align: center;
}

/* 0000 */
/* detail */
/* detail */
/* detail */
/* article */
article.artc {
  width: 780px;
  border: 0.5px solid #d6d6d6;
}
div.artc {
  width: 780px;
  border: 0.5px solid #d6d6d6;
  padding: 15px;
}

/* article_info */
.artc_info_container {
  display: flex;
  justify-content: space-between;
}
.artc_info {
  display: flex;
  justify-content: flex-start;
}
.imgBox_profile {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
}
.img_profile {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.text_container_info {
  padding: 0;
  margin: 0 15px;
}

.artc_info h4 {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.artc_info p {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  color: #a6a6a6;
}

.text_container_R {
  padding: 0;
  margin: 0;
  font-size: 0.85rem;
  color: #a6a6a6;

  display: flex;
  justify-content: flex-end;
}
.text_container_R p {
  margin: 0 8px;
}

/* artc_content */
.artc_content {
  padding: 0;
  margin: 15px 0px;
}

.artc_content h2 {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 900;
}

.artc_content p {
  padding: 0;
  margin: 15px 0px;
  font-size: 0.9rem;
}

.img_container_contents {
  display: flex;
  justify-content: flex-start;
}
.imgBox_article {
  padding: 0;
  margin: 0px 8px;
  width: 183px;
  height: 183px;
}
.imgBox_article:first-child {
  padding: 0;
  margin: 0;
  width: 183px;
  height: 183px;
}
.img_article {
  width: 183px;
  height: 183px;
}

/* artc_icons */
.artc_icons_container {
  padding: 0;
  margin: 15px 0px;
}
.artc_icons {
  display: flex;
  justify-content: flex-start;
}
.artc_icons .imgBox_icons {
  padding: 0;
  margin: 0px 8px;
  width: 12px;
  height: 12px;
}
.artc_icons .imgBox_icons:first-child {
  padding: 0;
  margin: 0px 8px 0px 0px;
  width: 12px;
  height: 12px;
}
.artc_icons .img_icons {
  width: 12px;
  height: 12px;
}
.artc_icons p {
  padding: 0;
  margin: 2px 2px 2px -4px;

  font-size: 0.8rem;
}
.artc_icons p.icon01 {
  color: #f91f15;
}
.artc_icons p.icon02 {
  color: #05cce1;
}
.artc_icons p.icon03 {
  color: #ffc900;
}

/* article_buttons */
.artc_buttons_container {
  display: flex;
  justify-content: flex-start;
}
.artc_buttons {
  display: flex;
  justify-content: flex-start;

  padding: 4px 12px;
  margin: 0px 4px 0px 0px;
  border-radius: 8px;

  background-color: #f6f6f6;
}

.artc_buttons .imgBox_icons {
  padding: 0;
  margin: 0;
  width: 12px;
  height: 12px;
}
.artc_buttons .img_icons {
  width: 12px;
  height: 12px;
}
.artc_buttons p {
  padding: 0;
  margin: 2px;

  font-size: 0.8rem;
  font-weight: 900;
  color: #737373;
}

/* comment */

.artc_comment_container {
}
.artc_comment_profile {
  display: flex;
  justify-content: flex-start;
}
.imgBox_comment_profile {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
}
.img_comment_profile {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
.artc_comment_profile h4 {
  padding: 0;
  margin: 2px 6px;

  font-size: 0.8rem;
  font-weight: 900;
}

.artc_comment_container p {
  padding: 0;
  margin: 5px 0px;

  font-size: 0.9rem;
}
.artc_comment_container p.text_info {
  padding: 0;
  margin: 5px 0px 0px 0px;

  font-size: 0.7rem;
  color: #737373;
}

/* writing */
.artc_writing {
  width: 780px;
  border: 0.5px solid #d6d6d6;
  padding: 0;
  background-color: #f8f8f8;
}
.artc input {
  box-sizing: border-box;
  margin: 0;
  padding: 10px, 10px, 10px, 10px;

  width: 728px;
  height: 40px;

  border: none;
  padding: 0;
  outline: none;
  font-size: 0.85rem;

  background-color: #f8f8f8;
  background-color: #c41515;
}
.artc input.img_writing_button {
  background-image: url("../img/container.articles.write.submit.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #f91f15;
  width: 40px;
  height: 40px;
  border: none;
}
