body {
  margin: 0;
}

hr {
  margin: 0;
}

/* header */
header.outside {
  display: flex;
  justify-content: center;
}

header.inside {
  width: 1148px;
  display: flex;
  justify-content: space-evenly;
}

div.title {
  display: flex;
  justify-content: space-evenly;
}

div.img_logo {
  margin: auto;
}

div.title_text {
  margin: 24px;
}

h4.title_text {
  font-size: 0.8rem;
  color: crimson;
  margin: 0;
}

h2.title_text {
  font-weight: 400;
  margin: 0;
}

/* menus */
div.menus {
  display: flex;
  justify-content: space-evenly;
}

h3 {
  padding: 12px;
}

h3.picked {
  color: crimson;
}

/* icon */
div.icons {
  display: flex;
  justify-content: space-evenly;
}

div.img_icon {
  padding: 12px;
  margin: 12px;
  width: 24px;
  height: 24px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 8px;
}

/* navigation */
nav.outside {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

nav.inside {
  width: 1148px;
  display: flex;
  justify-content: space-evenly;
}

div.sub_menus {
  padding: 0px;
  margin: 12px;
}

div.sub_menus_left {
  border-left: 1px solid gray;
  padding: 0px 0px 0px 16px;
  margin: 12px;
}

div.sub_menus_right {
  border-right: 1px solid gray;
  padding: 0px 16px 0px 0px;
  margin: 12px;
}

p.sub_menu {
  width: 100px;
  height: 25px;
  padding: 0;
  margin: 0px;

  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  /* 질문 */
  text-overflow: ellipsis;

  display: flex;
  align-items: center;
}

p.sub_menu_red {
  width: 100px;
  height: 25px;
  padding: 0;
  margin: 0px;

  font-size: 0.8rem;
  color: #f91f15;
  font-weight: 900;

  display: flex;
  align-items: center;
}

/* section & aside */
div.body_outside {
  display: flex;
  justify-content: center;
}

div.body_inside {
  width: 1148px;
  display: flex;
  /* justify-content: flex-start; */
}

div.board,
aside {
  margin: 12px;
}

/* section */
/* s1 */
section {
  border: 1px solid gray;
  margin: 6px 0px;
}

section.board {
  width: 780px;
}

h1 {
  margin: 12px 16px;
}

/* s2 */
div.board_s2 {
  display: flex;
  justify-content: flex-start;
}

div.img_icon_board {
  margin: 12px;
  width: 24px;
  height: 24px;
}

img.img_icon_board {
  width: 24px;
  height: 24px;
}

div.box_text {
  padding: 12px;
  margin: 12px 4px;
  background-color: rgb(234, 250, 255);
  border-radius: 12px;
}

p.box_text {
  margin: 0;
  font-size: 0.8rem;
}

div.box_text_red {
  padding: 12px;
  margin: 12px 4px;
  background-color: rgb(255, 234, 234);
  border-radius: 12px;
}

span.text_emphasis {
  color: crimson;
  font-weight: 600;
}

section.board_background_color {
  width: 780px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

p.text_writing {
  margin: 12px;
  font-size: 1rem;
}

/* post */
div.post {
  margin: 20px 24px;
}

p.post_title {
  font-size: 0.9rem;
  font-weight: 900;
  margin: 2px 0px;
}

p.post_content {
  font-size: 0.9rem;
  margin: 0;
}

p.post_info {
  font-size: 0.8rem;
  color: #b4b4b4;
  margin: 4px 0px;
}

div.img_container_post {
  width: 80px;
  height: 80px;
  /* border: 1px solid gray; */
  border-radius: 8px;
  padding: 0;
  margin: 24px 24px;
  overflow: hidden;
}

img.img_post {
  max-height: 100%;
}

div.box_margin0 {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

/* aside */
section.aside {
  background-color: #f2f2f2;
  width: 320px;
}

div.posts_spacebetween {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

h5.text_aside_top {
  font-size: 0.8rem;
  color: #5378dd;
  margin: 12px;
}
p.text_more {
  font-size: 0.8rem;
  color: #8d8d8d;
  margin: 12px;
}
p.post_title_aside {
  font-size: 0.8rem;
  margin: 12px;
  font-weight: 900;
}
p.post_content_aside {
  font-size: 0.8rem;
  margin: 12px;
}
p.post_info_aside {
  font-size: 0.6rem;
  color: #8d8d8d;
  margin: 12px;
}
div.post_info_aside {
  display: flex;
  justify-content: flex-start;
}

div.posts_normal {
  margin: 0;
  padding: 0;
}

div.img_10px {
  width: 10px;
  padding: 0;
  margin: 6px 0px;
}
img.img_10px {
  max-height: 100%;
  max-width: 100%;
}

div.img_ {
  height: 10px;
  padding: 0;
  margin: 8px 0px 16px 12px;
}
img.img_ {
  max-height: 100%;
  max-width: 100%;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p.footer {
  margin: 24px;
  text-align: center;
}

/* 반응형 - 1154px */
@media (max-width: 1154px) {
}
/* navigation */
nav.outside {
  display: flex;
  justify-content: flex-start;

  padding: 15px;
  margin: 0;

  background-color: #f2f2f2;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
nav.inside {
  width: 1148px;
  display: flex;
  justify-content: start;

  padding: 0;
  margin: 0;
}
div.sub_menus {
  box-sizing: border-box;
  width: 130px;
  height: 200px;

  padding: 0 15px;
  margin: 0;
}
div.sub_menus_left {
  box-sizing: border-box;
  width: 130px;
  height: 200px;

  padding: 0 15px;
  margin: 0;

  border-left: 1px solid #e3e3e3;
}
div.sub_menus_right {
  box-sizing: border-box;
  width: 130px;
  height: 200px;

  padding: 0 15px;
  margin: 0;

  border-right: 1px solid #e3e3e3;
}

/* 반응형 - 1154px */
@media (min-width: 640px) {
  /* hidden */
  header.media_640px {
    display: none;
  }
}
/* 반응형 - 640px */
@media (max-width: 640px) {
  /* hidden */
  header.outside {
    display: none;
  }
  /* nav */
  header.media_640px {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  header.media_640px div {
    width: 22px;
    height: 22px;
    padding: 14px;
    margin: 0;
  }
  header.media_640px img {
    width: 22px;
    height: auto;
  }
  header.media_640px h1 {
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
    margin: 0 0 2px 0;
  }
}
