html {
    text-align: center;
}

p {
    font-size: medium;
}

/* section01 */
section.s1 {
    display: flex;
    justify-content: center;
    margin: 64px;
}

div.img_s1 {
    margin: 36px 0px 36px 0px;
}

div.major {
    display: flex;
    justify-content: space-evenly;
}
div.majorBox {
    box-sizing: content-box;
    padding: 4px 16px 4px 16px;
    margin: 4px 8px 4px 8px;

    background-color: #DBE2EF;
    border-radius: 100px;
    border: 2px solid #112D4E;

    font-size: small;
}

/* section02 */
section.s2 {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 64px 100px 64px;
}

/* skills */
div.img_s2 {
    margin: 8px;
}
div.img_skills {
    display: flex;
    justify-content: space-evenly;
}

/* hobbies */
div.box_hobby {
    display: flex;
    justify-content: flex-start;
}
div.img_icon {
    box-sizing: content-box;
    width: 36px;
    height: 36px;
    
    padding: 8px;
}
div.text_hobby {
    padding: 8px;
    text-align: left;
}